@media screen and (max-width: 767px) {
  .navbar {
    margin: 5px auto;
  }
  .navbtn {
    font-size: 10px;
    padding: 5px;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 50px;
  }
  .navbtn {
    font-size: 18px;
  }
}
